@charset "utf-8";

/* Start Reset css */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0; padding: 0; border: 0;	outline: 0;	font-size: 100%; vertical-align: baseline;}

body {line-height: 1;}
ol,ul {list-style: none;}
:focus {outline: 0;}
blockquote,q {quotes: none;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;	border-spacing: 0;}
blockquote:before,blockquote:after,q:before,q:after {content: '';	content: none;}
/* End Reset css */

body {background: url(http://imagesrv.gartner.com/reprints/images/bg_body.jpg) repeat-x #8da1aa;
margin: 0; line-height: 14px; font-size: 12px; font-family: Verdana, Geneva, sans-serif; color: #5C6970;}

#wrapper {width: 990px; margin:0px auto; background:#fff;}
.container_12 {color: #5C6970; margin: 0 auto; width: 960px;}
.container_12 .grid_12 {margin: 0 auto; width: 940px; padding-top: 20px;}
.grid_8{width:620px; float: left; word-wrap: break-word;}
.grid_4{width:300px; float: right; word-wrap: break-word;} 

.clear {clear: both;}
a, a:link, a:active, a:visited {text-decoration: none; color: #0066cc;}
a:hover {text-decoration:underline;}

.container_12 h1,
.container_12 h2,
.container_12 h3,
.container_12 h4,
.container_12 h5 {font-family: arial, helvetica,sans-serif, verdana;}

.container_12 h1 {font-size: 26px; font-weight: normal; color: #7FA037; line-height: 28px; width: 520px; padding-bottom: 17px;}

.pubIDtype {border-bottom: 1px dotted #5C6970; font-size: 11px; padding-bottom: 6px;}
.analysts {color: #000000; font-size: 11px; padding-top: 6px;}
p.gView {padding-top: 15px;}

/*xsl content*/
.grid_8 h2 {font-size: 21px; color: #7FA037; font-weight: normal; line-height: 24px; padding-bottom: 9px;}
.grid_8 h3 {font-size: 18px; color: #5c6970; font-weight: normal; line-height: 20px; letter-spacing: -0.01em; padding-bottom: 12px;}
.grid_8 h4 {font-size: 15px; color: #7FA037; font-weight: bold; padding-bottom: 7px;}
.grid_8 h5 {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; padding-bottom: 7px;}

.container_12 .showhide {background-color: #edf0f1; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; padding: 5px 10px 4px;}
.container_12 .showhide h2 {line-height: normal; font-size: 12px; text-transform: uppercase; color: #5c6970; font-weight: bold; }
.container_12 h2.show {background: url(http://imagesrv.gartner.com/reprints/images/arrow_open.gif) 0 4px no-repeat; padding-left: 16px; padding-bottom: 0;}
.container_12 h2.hide {background: url(http://imagesrv.gartner.com/reprints/images/arrow_close.gif) 4px 1px no-repeat; padding-left: 14px; padding-bottom: 0;}
.grid_8 .showhide {margin-top: 18px;}

.grid_8 .showhide {margin-bottom: 20px;}
.grid_8 {line-height: 16px; padding-top: 18px; letter-spacing: -0.01em; color: #333;}
.grid_8 p {padding-bottom: 15px;}
.grid_8 ul.bullets_yes {padding-left: 17px; padding-bottom: 15px;}
.grid_8 ul.bullets_no {padding-left: 17px; padding-bottom: 5px;}
.grid_8 ul.bullets_yes li ul {padding-bottom: 0;}
.grid_8 ul.bullets_yes li {background:url(http://imagesrv.gartner.com/reprints/images/bullet.gif) 0px 5px no-repeat; padding-left: 15px; padding-bottom: 5px;}
.grid_8 ul.bullets_yes li ol {padding-top: 7px;}
.grid_8 ul.bullets_yes li ol li {background: none;}
.grid_8 sup {font-weight: bold; vertical-align: super; font-size: 11px;}


.inline_citation {border-bottom: solid 1px #ccc; padding: 12px 14px 16px 18px; margin: 14px; font-size: 11px;
background-repeat:repeat-x; background-position: 0px 0px; background-image:url(http://imagesrv.gartner.com/reprints/images/docDgrayGrad.gif);}
.inline_citation h3 {font-size: 1em;} 
.inline_citation h4 {font-size: 12px; font-family: Verdana, Arial,sans-serif;} 
.inline_citation ul.inline_cite_bullets li {background:url(http://imagesrv.gartner.com/reprints/images/bullet.gif) 0px 5px no-repeat; padding-left: 15px; padding-bottom: 5px;} 
.inline_citation ul.inline_cite_bullets {padding: 2px 0px 1px 10px; margin: 4px 0px 4px 10px;} 
.inline_cite_img {width: 620px; overflow: auto;}


/* DocDisplay tables */
.grid_8 .z2_cs_table1 ul,
.grid_8 .z2_cs_table2 ul {padding-left: 0;}
.grid_8 .z2_cs_table1 ol li,
.grid_8 .z2_cs_table2 ol li {margin-left: 20px;}

ol {padding-bottom: 15px;}
ol li {list-style-type: decimal; margin: 0 0 0 40px; padding-bottom: 2px;}
ol li ol {padding-bottom: 0px;}
ol li ol li {margin: 0 0 0 20px; }
ol ul li {list-style-type: none;}
.grid_8 ol ul.bullets_yes {padding: 0;}

/*copied from original DocDisplay for tables */
.z2_cs_table1 td p.z2_cellHeadingL,
.z2_cs_table2 td p.z2_cellHeadingL { text-align: left; font-weight: bold; padding: 1px; margin: 0;}
.z2_cs_table1 td p.z2_cellHeadingC,
.z2_cs_table2 td p.z2_cellHeadingC { text-align: center; font-weight: bold;  padding: 1px; margin: 0;}
.z2_cs_table1 td p.z2_cellHeadingR,
.z2_cs_table2 td p.z2_cellHeadingR { text-align: right; font-weight: bold;  padding: 1px; margin: 0;}
.z2_cs_table1 td p.z2_cellSubheading,
.z2_cs_table2 td p.z2_cellSubheading { text-align: left; padding:4px; font-weight: bold;}

.z2_cs_table1 td p.z2_cellBodyL,
.z2_cs_table2 td p.z2_cellBodyL { text-align: left; padding: 1px; margin: 0;}
.z2_cs_table1 td p.z2_cellBodyC,
.z2_cs_table2 td p.z2_cellBodyC { text-align: center; padding: 1px; margin: 0;}
.z2_cs_table1 td p.z2_cellBodyR,
.z2_cs_table2 td p.z2_cellBodyR { text-align: right; padding: 1px; margin: 0;}
.z2_cs_table1 td p.z2_cellBodyL1,
.z2_cs_table2 td p.z2_cellBodyL1 {  text-align: left; padding:1px 6px 1px 6px;}
.z2_cs_table1 td p.z2_cellBodyL2,
.z2_cs_table2 td p.z2_cellBodyL2 { text-align: left; padding:1px 6px 1px 10px;}
.z2_cs_table1 td p.z2_cellBodyL3,
.z2_cs_table2 td p.z2_cellBodyL3 { text-align: left; padding:1px 6px 1px 14px;}
.z2_cs_table1 td p.z2_cellBodyL4,
.z2_cs_table2 td p.z2_cellBodyL4 { text-align: left; padding:1px 6px 1px 18px;}
/**************************************************************************************/



.toc {padding-left: 26px; font-size: 0.9em;}
.grid_8 .toc ul {padding-left: 36px; padding-bottom: 0;}
.grid_8 .toc ul.noindt {padding-left:0;}
.btm_corn {padding-bottom: 20px;}

.toc h5 {text-transform: uppercase; color: #7FA037; border-bottom: 1px dotted #5c6970; padding-bottom: 5px; margin-bottom: 7px; font-size: 12px;}
.toc h5#lot {padding-top: 20px;}
.toc h5#lof {padding-top: 30px;}
.tbls {padding-bottom: 5px;}
.tbls .col1 {float: left; font-weight: bold; width: 75px;}
.tbls .col2 {float: left; width: 500px;}

.tocup {padding-bottom: 20px;}
.tocup a,
.tocup a:link,
.tocup a:active,
.tocup a:visited,
.tocup a:hover {background: url(http://imagesrv.gartner.com/reprints/images/arrow_up.gif) 0 4px no-repeat; padding-left: 13px; font-weight: bold; font-size: 10px;}

.caption {color: #fb6602; padding-top: 15px;}
.item_overflow img {
	max-width: 620px;
	/* Resize the image for IE6 */
	width: expression(this.width > 620 ? 620: true);}

.section.browse h4 {padding-bottom: 5px;}
.section.browse {padding-bottom: 35px;}
.section.browse .tocup {margin-top: 10px}
.section {border-top: dotted 1px #dde3eb;  padding-top: 20px;}


/*xsl railside*/
.aside {padding: 10px 10px 0px; font-size: 10px;}
.aside p {padding-bottom: 5px;}
.showhide2 {background-color: #8598a2; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; padding: 5px 10px 4px; margin-top: 20px;}
.showhide2 h2 {font-size: 12px; text-transform: uppercase; color: #fff; font-weight: bold; letter-spacing: 0.5pt;}
.showhide2 h2.show {background: url(http://imagesrv.gartner.com/reprints/images/arrow_openW.gif) 0 4px no-repeat; padding-left: 16px; padding-bottom: 0;}
.showhide2 h2.hide {background: url(http://imagesrv.gartner.com/reprints/images/arrow_closeW.gif) 4px 1px no-repeat; padding-left: 14px; padding-bottom: 0;}
.grid_4 h2.show {background: none; padding-left: 0px}

.aside sup {font-weight: bold; vertical-align: super;}
.aside ul {padding-left: 10px; padding-bottom: 5px;}
.aside ul li {background:url(http://imagesrv.gartner.com/reprints/images/blk_bullet.gif) 0px 5px no-repeat; padding-left: 10px;}
.grid_4 .item_overflow table {width: 260px; table-layout: fixed;}
.grid_4 .item_overflow table td.z2_glossary_def {width: 170px}
.grid_4 .break {
	white-space: pre; 					/* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	word-wrap: break-word;  		 /* IE 5+ */	
  font-family:  verdana;
	}

/*railside*/

.railpad {padding: 16px 10px 0; font-size: .9em; }
.railpad .showhide {margin-top: 20px;}
.grid_4 .padme {padding: 10px 10px 0;}
.grid_4 .padme ul li {padding-bottom: 5px;}
ul.dotbttm {border-bottom: dotted 1px #5c6970; padding-bottom: 3px; margin-bottom: 5px;}

.color {color: #d54400;}
blockquote {font-size: 14px; color: #5C6970; padding: 0 20px 5px 33px;}
.cite {font-size: 11px; font-style: normal; font-family: arial; padding: 0 0 20px 33px;}

.docd_copyright {border-top: solid 1px #dde3eb; padding-top: 20px; padding-bottom: 50px; font-size: 11px; color: #666;}
.fixie {line-height: 0px;}

.grid_8 .item_overflow {overflow-x: auto; width: 620px;}
.grid_8 .item_overflow table {table-layout: fixed;}
.item_overflow table caption {text-align: left; padding-bottom: 10px;}
.item_overflow table td {border: solid 1px #b7cfdc; font-size: 0.9em; color: #333; text-align: left; padding: 5px 5px 3px 7px;}
.item_overflow table thead th {font-size: 11px; padding: 5px 5px 0 7px; border: solid 1px #b7cfdc; background: #e8eff4;}
.source {color: #8598a2; font-family: arial;}
.item_overflow table td.z2_glossary_term {font-weight: bold;}
.prm {padding-bottom: 20px;}


/*Sprite*/
ul.dIcons li {background: url(http://imagesrv.gartner.com/reprints/images/allgifs.png) 0 0 no-repeat;}

ul.dIcons li.file_type_icon_1 {background-position: 0px -402px; padding-left: 25px;}
ul.dIcons li.file_type_icon_2 {background-position: 0px -59px; padding-left: 25px;}
ul.dIcons li.file_type_icon_3 {background-position: -300px -163px; padding-left: 25px;}
ul.dIcons li.file_type_icon_4 {background-position: -300px -196px; padding-left: 25px;}
ul.dIcons li.file_type_icon_5 {background-position: 0px -90px; padding-left: 25px;}
ul.dIcons li.file_type_icon_6 {background-position: 0px -121px; padding-left: 25px;}
ul.dIcons li.file_type_icon_7 {background-position: -300px -130px; padding-left: 25px;}
ul.dIcons li.file_type_icon_8 {background-position: -300px -229px; padding-left: 25px;}
ul.dIcons li.file_type_icon_9 {background-position: 0px -28px; padding-left: 25px;}
ul.dIcons li.file_type_icon_10 {background-position: -300px -328px; padding-left: 25px;}
ul.dIcons li.file_type_icon_11 {background-position: -300px -361px; padding-left: 25px;}
ul.dIcons li.file_type_icon_12 {background-position: -300px -295px; padding-left: 25px;}
ul.dIcons li.file_type_icon_13 {background-position: -300px -263px; padding-left: 25px;}
ul.dIcons li.file_type_icon_14 {background-position: -300px -394px; padding-left: 25px;}
ul.dIcons li.file_type_icon_15 {background-position: -300px -98px; padding-left: 25px;}
ul.dIcons li.file_type_icon_16 {background-position: -300px 1px; padding-left: 25px;}
ul.dIcons li.file_type_icon_17 {background-position: -300px -64px; padding-left: 25px;}
ul.dIcons li.file_type_icon_18 {background-position: -300px -427px; padding-left: 25px;}
ul.dIcons li.file_type_icon_19 {background-position: -300px -31px; padding-left: 25px;}
ul.dIcons li.file_type_icon_20 {background-position: -300px -470px; padding-left: 25px;}
ul.dIcons li.file_type_icon_21 {background-position: 0px -337px; padding-left: 25px;}
ul.dIcons li.file_type_icon_22 {background-position: 0px -369px; padding-left: 25px;}
ul.dIcons li.file_type_icon_23 {background-position: 0px -184px; padding-left: 32px;}
ul.dIcons li.file_type_icon_24 {background-position: 0px -308px; padding-left: 32px;}
ul.dIcons li.file_type_icon_25 {background-position: 0px -276px; padding-left: 32px;}
ul.dIcons li.file_type_icon_26 {background-position: 0px -153px; padding-left: 32px;}
ul.dIcons li.file_type_icon_27 {background-position: 0px -214px; padding-left: 30px;}
ul.dIcons li.file_type_icon_28 {background-position: 0px -245px; padding-left: 30px;}
ul.dIcons li.file_type_icon_29 {background-position: 0px -431px; padding-left: 25px;}
ul.dIcons li.file_type_icon_30 {background-position: 0px -462px; padding-left: 25px;}
ul.dIcons li.file_type_icon_31 {background-position: 0px -493px; padding-left: 25px;}
ul.dIcons li.file_type_icon_32 {background-position: 0px -493px; padding-left: 25px;}


.transparentDivLayer{filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;position:absolute;z-index:5000;background:#d9d9d9;width:100%;height:5000px}
.normalDivLayer{-moz-opacity:1;filter:alpha(opacity=100);opacity:1}
.mainBodyContainerDiv{z-index:4999}
#globalLayerDiv{position:absolute;z-index:5001;border:1px solid #000;background:#FFF}
#wrapperDivForLayer{position:relative; border: solid 1px}
.emptyLayerClass{height:-1px;width:-1px;left:-1px;top:-1px;display:none}

